* {
    text-shadow: 1px 1px 2px slategray;
}



header {
    background-color:teal;
    text-align: center;
}

.row {
    /* border: 1px solid rgb(211, 41, 41); */
    display: flex;
}

.search-and-history {
    /* border: 1px solid rgb(48, 94, 11); */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

input {
    width: 100%;
}

button {
    width: 100%;
    border-radius: 5px;
    background-color: royalblue;
    margin-top: 5px;
}
button:hover {
    background-color: skyblue;
}

.history {
    margin-top: 5px;
    border-top: 1px solid black;
}

.info-and-forecast {
    border-left: 1px solid black;
} 

#infoCityUV {
    background-color: red;
    color: black;
}

.forecast {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
}

.forecast div {
    background-color: rgb(176, 183, 190);
    padding: 5px;
}

.forecast h2 {
    font-size: medium;
}

footer h3 {
    text-align: center;
}